<?xml version="1.0" encoding="utf-8" ?>
<configuration>
     <connectionStrings>
	<add name="StonetDbConnectionString" connectionString="server = 127.0.0.1;uid=root;pwd=fastweb321#;database=cs_stonet;" />
        <add name="StonetDbConnectionStringLive" connectionString="server = 193.169.145.11;uid=stone_mihaiz;pwd=hFyl21#5;database=cs_stonet;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>